body {
    background-color: #e2e8f0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 30fr;
    height: 100vh;
}


/* Sidebar styling */

.sidebar {
    color: white;
    font-weight: bold;
    background-color: #5b21b6;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-row: 1 / 3;
}


ul {
    list-style-type: none;
    padding: 16px;
    margin: 0;
    display: grid;
}

li {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

li.title:hover {
    cursor: pointer;
}

li.title:active {
    transform: scale(0.985);
}

.menu:hover {
    background-color:#6d2bd6;
    cursor: pointer;
}

.menu:active {
    background-color: #4f1d9e;
}

.addCategory-btn, .addTask-btn {
    border-radius: 16px;
    border: none;
    padding: 8px;
    font-weight: bold;
}

.addCategory-btn {
    background-color: white;
    color:#5b21b6;
}


/* Header styling */

.addTask-btn {
    color: white;
    background-color:#5b21b6;
}

.header {
    display: grid;
    grid-column: 2;
    grid-template-columns: 2fr 1fr;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    padding-left: 0.5rem;
}

.greeting {
    display: flex;
}

.greeting input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title, 
.greeting .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

/* Modal styling */


.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    display: grid;
}


.x-btn {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.x-btn:hover {
    color: rgb(105, 100, 100);
}

.modal-title {
    font-weight: bold;
    font-size: large;
}

.task-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.category-form {
    display: grid;
}

.category-form .field {
    justify-content: center;
}

form label, form input {
    display:grid;
    grid-auto-flow: column;
}

.left-fields {
    display: grid;
    grid-column: 1 / 2;
    justify-content: center;
}

.right-fields {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center;
}

.task-form input, .task-form select, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
} 

.task-btns {
    display: grid;
    justify-content: end;
    grid-auto-flow: column;
    padding: 1rem;
    gap: 4px;
}

.category-form {
    display: grid;
}


.cg.modal-content {
    grid-template-rows: 1fr 1fr 1fr;

}

.cg.field-container{
    display: grid;
    justify-content: center;
}

.cg input {
    width: 20rem;
    height: 1.5rem;
}

.cg.task-btns {
    height: 50%;
    justify-content: end;
}

.task-btn {
    background-color: #5b21b6;
    color: #fff;
}

.task-btn:hover {
    background-color: #6d2bd6;
}


.modal-content button {
    width: 5rem;
    border-radius: 4px;
}

.close-btn {
    border: grey solid 1px;
}

.modal-content button:hover {
    cursor: pointer;
}

/* Main content styling */

.page {
    margin: 0 0.5rem 0 0.5rem;
}

.task-row {
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
 
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.task-left, .task-right {
    display: flex;
    align-items: center;
}

.task-row.done label {
text-decoration: line-through;
}

.chevron:hover {
    cursor: pointer;
    fill:#5b21b6;
}

.chevron {
    transform: rotate(0deg);
    transition: transform 0.25s linear;
}

.chevron.open {
    transform: rotate(90deg);
    transition: transform 0.25s linear;
}

.task-row.low {
    border-left: 8px solid #1e3a8a;
}

.task-row.medium {
    border-left: 8px solid #fde047;
}

.task-row.high {
    border-left: 8px solid #dc2626;
}

.second-row.hidden {
    display: none; 
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
 
    padding: 8px 0 8px 8px;
}

.detail-title {
    font-weight: bold;
}